@font-face {
    font-family: "OngleleafIBinna";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafIBinna/OngleleafIBinna.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafIBinna/OngleleafIBinna.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafIBinna/OngleleafIBinna.ttf") format("truetype");
    font-display: swap;
}

.OngleleafIBinna {
    font-family: "OngleleafIBinna";
}
